@keyframes heading-roll-in{
    0% { opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}


.main-heading{
    text-align: center;
    animation: heading-roll-in 3s;
    background-color:blue;
    color: white;

}

.dev-bod{
    text-align: center;
}